<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1">
		<title>PDF Generator</title>
	</head>
	<body class="container">
		<div align="center">
			<h1>Generate PDF From Specified Directory</h1>
			<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			<br/>
			<br/>
				<form action="#" th:action="@{/generate}" method="get" th:object="${showfiles_flag}">
					<button type="submit">Start File Generation</button>
				</form>
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
		</div>
	</body>
</html>